<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:insert="~{layout/layout}"
    th:with="titulo='Cadastro de Instituições'">
<!---->
<body>
    <div layout:fragment="content">
        <div class="card-header">
            <h1 th:text="${titulo}"></h1>
        </div>
        <div class="card-body">
            <form th:action="@{/instituicoes}" method="POST" th:object="${instituicao}">
                <input type="hidden" th:field="*{id}" class="form-control" />

                <label for="instituicao">Nome</label>
                <input type="text" th:field="*{nome}" name="nome" class="form-control" /> <br /><br />

                <label for="instituicao">Sigla</label>
                <input type="text" th:field="*{sigla}" name="sigla" class="form-control" /> <br /><br />

                <label for="instituicao">Telefone</label>
                <input type="text" th:field="*{fone}" name="telefone" class="form-control" /> <br /><br />
                <p th:if="${#fields.hasErrors('fone')}" th:errorclass="error" th:errors="*{fone}"></p>
               
                <label for="periodoAtual">Período Letivo Atual</label>
                <select th:field="*{periodoAtual.id}" class="form-control" id="option-card">
                    <!-- <option th:value=null>Sem período</option> -->
                    <option th:each="pl : ${periodosItens}" th:value="${pl.id}" th:text="${pl.ano} + '.' + ${pl.periodo}" />
                </select>
                <br /><br />
                <br /><br />


                <button type="submit" class="btn btn-purple">Salvar</button>
                <button class="btn btn-secundary"><a th:href="@{/}">Cancelar</a></button>
            </form>
        </div>
    </div>
</body>

</html>