<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:insert="~{layout/layout}"
    th:with="titulo='Listagem de Periodos'">

<body>
    <div layout:fragment="content">
        <h1>Pesquisas</h1>
            <ul>
                <li><a th:href="@{/declaracoes/queries}">Query</a></li>
                <li><a th:href="@{/pesquisa/onde-vai}">Onde vai</a></li>
                <li><a th:href="@{/pesquisa/com-quem-vai}">Com quem vai</a></li>
                <li><a th:href="@{/pesquisa/quando-vai}">Quando vai</a></li>
                <li><a th:href="@{/pesquisa/o-que-vai-fazer}">O que você vai fazer</a></li>
        </ul>        
    </div>
</body>

</html>