.logo-bar {
    color: white;
    text-align: center;
}

.home{
    color: White;
    text-align: center;
}

.logo-bar img {
    vertical-align: bottom;
    margin-right: 5px;
}

.logo-bar i{
    font-size: 80px;
}

.logo-font {
    font-family: 'Fugaz One', cursive;
    font-size: 2.3rem;
}

.card{
    color: #c905fa;
}

.card-body input{
    background-color: #c905fa;
}

.card-body option {
    background-color: white;
}

.btn-purple{
    background-color: #c905fa;
    color: white;
}

.btn-secundary{
    color: white;
}

.bg-blue{
    background-color: #c905fa;
}

#option-card{
    width: 200px;
    background-color: #c905fa;
}

.menu{
    margin-left: 20px;
}

.menu-item{
    color: white;
}
.menu-item:hover {
    color: black;
}

.logobar{
    display: flex;
    flex-direction: column;
}