<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:replace="~{/layout/layout}"
    th:with="titulo='Home'">

<body>
    <div layout:fragment="content">
        <ul>
            <li>
                <a th:href="@{/estudantes/form}">Cadastrar estudante</a>
            </li>
            <li>
                <a th:href="@{/instituicoes/form}">Cadastrar instituição</a>
            </li>
            <li>
                <a th:href="@{/declaracoes/form}">Cadastrar Declaração</a>
            </li>
        </ul>
    </div>
</body>

</html>