<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:replace="~{/layout/layout}"
    th:with="titulo='Home'">

<body>
    <div layout:fragment="content">
        <ul>
            <li>
                <a th:href="@{/estudantes}">Estudante</a>
            </li>
            <li>
                <a th:href="@{/instituicoes}">Instituição</a>
            </li>
            <li>
                <a th:href="@{/declaracoes}">Declaração</a>
            </li>
            <li>
                <a th:href="@{/periodos}">Periodo Letivo</a>
            </li>
        </ul>
    </div>
</body>

</html>