<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:insert="~{layout/layout}"
    th:with="titulo='Cadastro de Estudantes'">

<body>
    <div layout:fragment="content">
        <div class="card-header">
            <h1 th:text="${titulo}"></h1>
        </div>
        <div class="card-body">
            <form th:action="@{/estudantes}" method="POST" th:object="${estudante}">
                <input type="hidden" th:field="*{id}" class="form-control" />

                <label for="estudante">Nome</label>
                <input type="text" th:field="*{nome}" name="nome" class="form-control" /> <br /><br />
                <p th:if="${#fields.hasErrors('nome')}" th:errorclass="error" th:errors="*{nome}"></p>

                <label for="estudante">Matrícula</label>
                <input type="text" th:field="*{matricula}" name="matricula" class="form-control" /> <br /><br />
                <p th:if="${#fields.hasErrors('matricula')}" th:errorclass="error" th:errors="*{matricula}"></p>

                <label for="user" class="form-label">Usuário:</label>
                <select th:field="*{user}" class="form-select" id="user">
                    <option th:each="u : ${users}" th:value="${u.username}" th:text="${u.username}"
                        th:selected="${u.username==user}">
                    </option>
                </select>

                <label for="estudante" class="form-check-label mt-1">
                    Administrador
                </label>
                <input type="checkbox" th:field="*{admin}" class="form-check-input mt-2" /> <br /><br />

                <label for="instituicao">Instituição</label>
                <select th:field="*{instituicao.id}" class="form-control" id="option-card">
                    <option th:each="inst : ${instituicaoItens}" th:value="${inst.id}" th:text="${inst.nome}" />
                </select>
                <br /><br />


                <button type="submit" class="btn btn-purple">Salvar</button>
                <button class="btn btn-secundary"><a th:href="@{/}">Cancelar</a></button>
            </form>
        </div>
    </div>
</body>

</html>